/* TELA 1280 PX */

.elements {
  max-width: 880px;
  margin: auto;
  margin-bottom: 67px;
}

.elements__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin: 0 ;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.elements__card {
  display: flex;
  flex-direction: column;

}

.elements__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  cursor: pointer;

}

 .elements__card-content {  /*div */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25px 21px 31px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  align-items: center;
}

.elements__name-card {
  margin: 0;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.815625rem;
}

.elements__button-card {
  border: none;
  background-color: #fff;
  padding: 0;
  height: 19px;
  cursor: pointer;



}

/* TELA 800 PX */

@media screen and (max-width:800px) {
  .elements {
    max-width: 600px;
    margin-bottom: 57px;
  }

  .elements__cards {
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px 14px;

  }

  .elements__card-content {  /*div */
    padding: 23px 19px 28px;

  }

  .elements__name-card {
    font-size: 1.4375rem;
    line-height: 1.628125rem;
  }


}

/* TELA 320 PX */

@media screen and (max-width:320px) {
  .elements {
    max-width: 300px;
    margin-bottom: 37px;
  }

  .elements__cards {
    grid-template-columns: repeat(1, 282px);
    grid-template-rows: repeat(6, auto);
    grid-gap: 13px 12px;

  }

}



