.page {
  max-width: 1280px;
  background-color: #000000;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-section {
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

/* @media screen and (max-width:800px){
  .page-section {
    max-width: 735px;
  }


} */

@media screen and (max-width:320px){
  .page-section {
    max-width: 282px;
  }


}