.popup-image {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0;
  width: 100%;
}


.popup-image_opened {
  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-image__content {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 740px;
  width: 100%;
  position: fixed;
  z-index: 1;
  justify-content: center;



}

.popup-image__img {
  width: 100%;
}


.popup-image__close-button {
  background-image: url('../images/close_Icon.png');
  position: absolute;
  top: -8%;
  right: -51px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.popup-image__close-button:hover {
  opacity: 0.6;
}


/* --------TELA 1024PX --------- */

@media screen and (max-width:1024px) {
  .popup-image__content {
    max-width: 480px;
  }

}



/* --------TELA 544PX --------- */

@media screen and (max-width: 544px){
  .popup-image__content {
    max-width: 240px;
  }

  .popup-image__close-button {
    top: -25%;
    right: -47px;

  }
}
