.popup-image {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.popup-image_opened {
  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-image__content {
  display: flex;
  transform: translate(-50%, -50%);
  max-width: 816px;
  max-height: 540px;
  position: fixed;
  z-index: 1;
  justify-content: center;
  top: 50%;
  left: 50%;

}

.popup-image__img {
  width: 100%;
  height: 100%;
}


.popup-image__close-button {
  background-image: url('../images/close_Icon.png');
  position: absolute;
  top: -8%;
  right: -51px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.popup-image__close-button:hover {
  opacity: 0.6;
}

/* --------TELA 1024PX --------- */

@media screen and (max-width:1024px) {

  .popup-image {
    top: 35%;

  }

  .popup-image__content {
    width: 800px;
    height: 800px;
  }

  .popup-image__close-button {
    top: -10%;
  }

}


/* --------TELA 900PX --------- */

@media screen and (max-width:900px) {
  .popup-image__content {
    width: 650px;
    height: 700px;
  }

}

/* --------TELA 800PX --------- */
@media screen and (max-width: 800px){
  .popup-image {
    top: 25%;

  }

  .popup-image__content {
    width: 500px;
    height: 500px;
  }

  .popup-image__close-button {
    top: -10%;
  }
}




/* --------TELA 700PX --------- */

@media screen and (max-width: 700px){

  .popup-image {
    top: 15%;

  }

  .popup-image__content {
    width: 400px;
    height: 400px;

  }

  .popup-image__close-button {
    top: -12%;
    right: -44px;
  }
}



/* --------TELA 600PX --------- */

@media screen and (max-width: 600px){


  .popup-image__content {
    width: 350px;
    height: 350px;

  }

  .popup-image__close-button {
    top: -15%;
  }
}


/* --------TELA 500PX --------- */


/* @media screen and (max-width: 500px){
  .popup-image {
    top: 15%;

  }
} */



/* --------TELA 425PX --------- */

@media screen and (max-width:425px) {

  .popup-image {
    top:10%;


  }

  .popup-image__content {
    width: 240px;
    height: 299px;

  }

  .popup-image__close-button {
    top: -15%;
    right: -31px;
    width: 30px;
    height: 30px;
  }


}