.popup-edit {
  max-width: 430px;
  background-color: #fff ;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;

}

.popup_opened {
  display: block;
  color: #fff;
}

.popup-edit__close-button {
  background-image: url('../images/close_Icon.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: -15%;
  right: -53px;
  cursor: pointer;
  border: none;

}

.popup-edit__close-button:hover {
  opacity: 0.6;

}

.popup-edit__title {
  max-width: 330px;
  margin: 34px 64px 54px 36px;
  color: #000000;
  font-family: 'Inter';
  font-size: 1.5rem;
  line-height: 1.815625rem;
  font-weight: 900;
}

.popup-edit__form {
  margin: 0 36px 36.51px;

}

.popup-edit__name {
  width: 358px;
  height: 27.26px;
  border: none;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
  font-family: 'Inter';
  font-size: 0.875rem;
  line-height: 1.030625rem;
  margin-bottom: 29.74px;



}

.popup-edit__link {
  font-family: 'Inter';
  font-size: 0.875rem;
  line-height: 1.05875rem;
  font-weight: 400;
  display: block;
  /* width: 100%; */
  width: 358px;
  height: 27.34px;
  margin-bottom: 48px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.popup-edit__create-button {

  width: 100%;
  height: 50.15px;
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
  cursor: pointer;
  font-family: 'Inter';

}

.popup-edit__create-button:hover {
  opacity: 0.8;
}