/* TELA 1280PX */

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 50px;



}

.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  object-fit: cover;
  margin-right: 30px;


}

.profile__info { /*div informacoes */
  display: grid;
  grid-template-areas:
  'title button'
  'description description';
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 7px 17px;
  margin-right: auto;
  align-items: center;


}

.profile__user {
  grid-area: title;
  color: #FFFFFF;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 2.625rem;
  line-height: 3rem;
  margin: 0;

}

.profile__image-edit-button {
  grid-area: button;
  background-color: black;
  border: none;

}

.profile__image-button {
  object-fit: contain;
  max-width: 24px;
}

.profile__paragraph {
  grid-area: description;
  color: #FFFFFF;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.36125rem;
  margin: 0;

}


.profile__add-button {
  background-color: black;
  border: none;
}

.profile__image-add-button {
  max-width: 150px;
  object-fit: contain;
}

@media screen and (max-width:320px){
  .profile {
    margin-bottom: 36px;
    flex-direction: column;
    align-items: center;
  }

  .profile__avatar {
    max-width: 120px;
    object-fit: cover;
    margin: auto;
  }

  .profile__info { /*div informacoes */
    grid-template-areas:
    'title button'
    'description';
    grid-template-columns: auto auto;
    grid-gap: 10px 14px;
    margin: auto;
  }

  .profile__user {
    font-size: 1.375rem;
    line-height: 1.664375rem;
    text-align: center;
    margin-top: 30px;
    max-width: 196px;
    margin: 30px auto 0;

  }

  .profile__image-button {
    max-width: 18px;
    margin-top: 30px;

  }

  .profile__image-edit-button {
    padding: 0;
  }

  .profile__paragraph {
    font-size: 1.14285rem;
    line-height: 1.030625rem;
    text-align: center;
    margin-bottom: 36px;

  }

  .profile__add-button {
    padding: 0;
    max-width: 282px;


  }

  .profile__image-add-button {
    width: 100%;
  }

}


